---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -abseil-*,
  -android-*,
  -altera-*,
  -darwin-*,
  -fuchsia-*,
  -google-*,
  -hicpp-*,
  -linuxkernel-*,
  -llvm-*,
  -llvmlibc-*,
  -objc-*,
  -zircon-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -cert-env33-c,
  -cert-err58-cpp,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-std-format,
  -modernize-use-trailing-return-type,
  -performance-noexcept-move-constructor,
  -performance-enum-size,
  -performance-move-const-arg,
  -portability-avoid-pragma-once,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-special-member-functions,
  -modernize-avoid-c-arrays,
  -misc-include-cleaner,
  -misc-multiple-inheritance,
  -bugprone-throwing-static-initialization,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-magic-numbers,
  -readability-math-missing-parentheses,
  -readability-redundant-cast,
  -readability-redundant-member-init,
  -readability-simplify-boolean-expr,
  -readability-identifier-naming.IgnoreMainLikeFunctions

WarningsAsErrors: '*'
HeaderFilterRegex: '^(src|include)/.*'
FormatStyle: none
SystemHeaders: false

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase, value: CamelCase }
  - { key: readability-identifier-naming.ClassCase, value: CamelCase }
  - { key: readability-identifier-naming.StructCase, value: CamelCase }
  - { key: readability-identifier-naming.FunctionCase, value: lower_case }
  - { key: readability-identifier-naming.MethodCase, value: lower_case }
  - { key: readability-identifier-naming.VariableCase, value: lower_case }
  - { key: readability-identifier-naming.PrivateMemberPrefix, value: m_ }
  - { key: readability-identifier-naming.GlobalConstantCase, value: UPPER_CASE }
  - { key: cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors, value: '1' }
  - { key: misc-include-cleaner.IgnoreHeaders, value: 'SDL3/SDL\.h' }
